:root{
    --caixa-cor-frente: #b0e0b0E6;
    --caixa-cor-verso: #e6e6fa;
    --fundo: #F5F5F5;
    --branco: white;
    --preto: black;
    --cor-texto-destaque: #4B0082;

}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    
}