:root{
    --caixa-cor-frente: #b0e0b0E6;
    --caixa-cor-verso: #e6e6fa;
    --fundo: #F5F5F5;
    --branco: white;
    --preto: black;
    --cor-texto-destaque: #ff0909;

}
body{
    background-color: var(--preto);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;

}